<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.porunga.youroomclient" android:versionCode="1"
	android:versionName="1.0">

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>

	<application android:label="@string/app_name" android:name="com.porunga.youroomclient.AppHolder" android:debuggable="true" android:icon="@drawable/pollux_icon">
		<activity android:label="@string/app_name" android:name="com.porunga.youroomclient.RoomActivity" android:configChanges="orientation"></activity>
		<activity android:name="com.porunga.youroomclient.LoginActivity" android:configChanges="orientation" android:windowSoftInputMode="adjustResize"></activity>
		<activity android:name="com.porunga.youroomclient.EntryActivity" android:configChanges="orientation"></activity>
		<activity android:name="com.porunga.youroomclient.CreateEntryActivity" android:configChanges="orientation" android:windowSoftInputMode="adjustResize"></activity>
		<activity android:name="com.porunga.youroomclient.GroupActivity" android:configChanges="orientation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<service android:name="com.porunga.youroomclient.CheckUpdateService"></service>
		<activity android:name="com.porunga.youroomclient.SettingActivity"></activity>

	</application>
</manifest>
